Universal apps/Windows Phone 8.1 Universal Application/Online Videos/OnlineVideosWin81.Services/Service References/ImageService/ImageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="savingImgBytes">
    <xs:sequence>
      <xs:element minOccurs="0" name="_PeopleimgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Personid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_imgBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="_imgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_imgPovitBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="_peopleimgBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="_peopleimgPanorBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="_povitimgName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="savingImgBytes" nillable="true" type="tns:savingImgBytes" />
  <xs:complexType name="ArrayOfsavingImgBytes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="savingImgBytes" nillable="true" type="tns:savingImgBytes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsavingImgBytes" nillable="true" type="tns:ArrayOfsavingImgBytes" />
</xs:schema>