Universal apps/Windows Phone 8.1 Universal Application/Online Videos/OnlineVideosWin81.Services/Service References/OnlineVideoService/OnlineVideoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onlinevideoswin8service.lartsoft.com/OnlineVideoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineVideosService" />
  <xs:element name="GetUsernameandPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameandPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="GetUsernameandPasswordResult" nillable="true" type="q1:ArrayOfBlogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="fav" nillable="true" type="q2:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveuserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnonymousId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveuserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="RetrieveuserDataResult" nillable="true" type="q3:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParentalControlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="fav" nillable="true" type="q4:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParentalControlDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveParentalControlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnonymousId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveParentalControlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="RetrieveParentalControlDataResult" nillable="true" type="q5:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="fav" nillable="true" type="q6:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="GetRatingResult" nillable="true" type="q7:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="fav" nillable="true" type="q8:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="GetSearchHistoryResult" nillable="true" type="q9:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievevideosratingControlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievevideosratingControlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="RetrievevideosratingControlDataResult" nillable="true" type="q10:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingvideos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="fav" nillable="true" type="q11:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingvideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="GetRatingvideosResult" nillable="true" type="q12:ArrayOfFavorites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingnextupdateddate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingnextupdateddateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="getRatingnextupdateddateResult" nillable="true" type="q13:ArrayOfRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingVideosnextupdateddate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingVideosnextupdateddateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OnlineVideosService" minOccurs="0" name="getRatingVideosnextupdateddateResult" nillable="true" type="q14:ArrayOfRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>